@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
